/* Html */
html {
    background-color: #FFFFFF;
}

/* Body */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* General */
h1,
h2,
h3,
p {
    font-family: Helvetica, sans-serif;
    text-align: left;
    color: #000000;
}

h1 {
    font-size: 64px;
}

h2{
    text-align: center;
    margin-top: 100px;
}

h3 {
    text-align: center;
}

p {
    font-size: 36px;
}
/* Navigation */

/* Header */
header {
    /* background-color: #A5DCE4; */
    /*background-color: #B0DDC2; */
    /* background-color: #F8C296; */
   /* background-color: #D9D7FF;*/
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 990px;
}

nav {
    margin: 0px auto;
    /*padding-top: 10px;*/
    width: 100%;
    height: 100px;
}

nav li {
    display: inline-block;
    margin: 0 30px; 
}

.logo {
    margin: 0 50px 0 20px;
}

nav span {
    position: absolute;
    right: 50px; 
}

nav span button {
    color: #181E34;
    background-color: #FFFFFF;
    /*color: #FFFFFF;*/
    /*background-color: #1F0600;*/
    font-size: 20px;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 5px;
    width: 320px;
}

.above-the-fold {
   display: inline-block;
}

#atf-left {
    position: absolute;
    top: 400px;
    left: 80px;
    width: 40%;
}

#atf-right {
        position: absolute;
        left: 0px;
        top: -87px;
        right: 0px;
        bottom: 0px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#181E34), to(#181E34));
        background-image: linear-gradient(180deg, 
        #181E34,
        #181E34);
        -webkit-transform: translate(60%, 0px);
        -ms-transform: translate(60%, 0px);
        transform: translate(60%, 0px);
        z-index: -100;
    
    /*width: 50%;
    height: 100%;
    background-color: #181E34;*/
}

#atf-image {
    z-index: 100;
    position: absolute;
    right: 400px;
    box-shadow: 7px 7px 50px 0 rgba(0, 0, 0, 0.25);;
}

.header-image {
    position: absolute;
    top: 80px;
    right: 200px;
    z-index: -10;
}

#search form,
button {
    display: inline-block;
}
 
input[type="email"] {
    min-height: 70px;
    min-width: 400px;
    border-radius: 5px;
    border:1px solid #cccccc;
    font-size: 24px;
}

input[type="submit"] {
    color: #FFFFFF;
    background-color: #181E34;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 5px;
}
/* Problem */
/* #problem {
    
} */

#problem-image {
    border-radius: 40% 50%;
}

/* How It Works */

.steps {
    display: block;
    margin: 40px auto;
    width: 90%;
    height: 70%;
    
    border: 1px solid black;
}

.steps div {
    /*display: inline-block;*/
    width: 33.3%;
    float: left;
    height: 50%;
}

/* Button */
.cta-main {
    color: #FFFFFF;
    background-color: #1F0600;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 5px;
}

.below-the-fold .cta-main {
    display: block;
    font-weight: 700;
    margin: 40px auto; 
}

/* Footer */
footer {
    width: 100%;
    height: 300px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #1F0600;
}

/* 

The code below is used to style navigation and buttons
.share {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.share a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.share a:hover {
  background: white;
  border: 1px solid red;
  color: red;
}

*/
* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}