/* Html */
html {
    background-color: #FFFFFF;
}

/* Body */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* General */
h1,
h2,
h3,
p {
    font-family: Helvetica, sans-serif;
    text-align: left;
    color: #000000;
}

h1 {
    font-size: 64px;
}

h2{
    text-align: center;
    margin-top: 100px;
}

h3 {
    text-align: center;
}

p {
    font-size: 36px;
}
/* Navigation */

/* Header */
header {
    /* background-color: #A5DCE4; */
    /*background-color: #B0DDC2; */
    /* background-color: #F8C296; */
   /* background-color: #D9D7FF;*/
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 990px;
}

nav {
    margin: 0px auto;
    /*padding-top: 10px;*/
    width: 100%;
    height: 100px;
}

nav li {
    display: inline-block;
    margin: 0 30px; 
}

.logo {
    margin: 0 50px 0 20px;
}

nav span {
    position: absolute;
    right: 50px; 
}

nav span button {
    color: #181E34;
    background-color: #FFFFFF;
    /*color: #FFFFFF;*/
    /*background-color: #1F0600;*/
    font-size: 20px;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 5px;
    z-index: 100;
}

.above-the-fold {
   display: inline-block;
}

#atf-left {
    position: absolute;
    top: 400px;
    left: 80px;
    width: 40%;
}

#atf-right {
        position: absolute;
        left: 0px;
        top: -87px;
        right: 0px;
        bottom: 0px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#002e38), to(#264e5a));
        background-image: linear-gradient(180deg, 
        #181E34,
        #181E34);
        -webkit-transform: translate(60%, 0px);
        -ms-transform: translate(60%, 0px);
        transform: translate(60%, 0px);
        z-index: -100;
    
    /*width: 50%;
    height: 100%;
    background-color: #181E34;*/
}

#atf-image {
    z-index: 100;
    position: absolute;
    right: 400px;
    box-shadow: 7px 7px 50px 0 rgba(0, 0, 0, 0.25);;
}

.header-image {
    position: absolute;
    top: 80px;
    right: 200px;
    z-index: -10;
}

#search form,
button {
    display: inline-block;
}
 
input[type="email"] {
    min-height: 70px;
    min-width: 400px;
    border-radius: 5px;
    border:1px solid #cccccc;
    font-size: 24px;
}

input[type="submit"] {
    color: #FFFFFF;
    background-color: #181E34;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 5px;
}
/* Problem */
#problem {
    
}

#problem-image {
    border-radius: 40% 50%;
}

/* How It Works */

.steps {
    display: block;
    margin: 40px auto;
    width: 90%;
    height: 70%;
    
    border: 1px solid black;
}

.steps div {
    /*display: inline-block;*/
    width: 33.3%;
    float: left;
    height: 50%;
}

/* Button */
.cta-main {
    color: #FFFFFF;
    background-color: #1F0600;
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 5px;
}

.below-the-fold .cta-main {
    display: block;
    font-weight: 700;
    margin: 40px auto; 
}

/* Footer */
footer {
    width: 100%;
    height: 300px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #1F0600;
}

/* 

The code below is used to style navigation and buttons
.share {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.share a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.share a:hover {
  background: white;
  border: 1px solid red;
  color: red;
}

*/