<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Total Hair Care Solution</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div class="container">
      <header class="main-nav">
        <nav class="left-nav">
          <ul>
            <li class="logo">
              <a href="/"
                ><img
                  src="../resources/images/Screen Shot 2020-01-27 at 2.58.59 pm.png"
                  alt="Total Care"
                  style="width:82px"
              /></a>
            </li>
          </ul>
        </nav>
        <nav class="middle">
          <ul>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
        <nav class="right-nav">
          <ul>
            <li><a href="#" class="btn">Become a Total Care Pro</a></li>
            <li>
              <a href="/signup" class="btn">Personalise Your Hairstyle</a>
            </li>
          </ul>
        </nav>
      </header>
      <main class="above-the-fold">
        <div class="left-atf">
          <div class="transformation">
            <h1>Take the Guess Work Out of Looking Good</h1>
            <p>
              Pick the right hairstyle. Find a great stylist or Barber. Look
              your best
            </p>
            <form action="" method="GET">
              <input
                name="email"
                type="email"
                placeholder="Enter Your Address Here..."
                class="text"
                required="required"
              />
              <input type="submit" value="Find a Pro" />
            </form>
          </div>
        </div>
        <div class="right-atf">
          <img
            src="../resources/images/224618-P1BLK0-185.jpg"
            alt="Man getting haircut at home"
            style="width: 530px;"
          />
        </div>
      </main>
      <div class="problem">
        <div class="problem-header">
          <h2>
            Tired of not being able to find the right stylist/barber for you?
          </h2>
        </div>
        <div class="problem-column-3">
          <div class="a">
            <h3>Problem 1</h3>
            <hr>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
              iure minima eligendi alias pariatur fugit omnis ad earum explicabo
              est quae, nisi, reiciendis consectetur ullam debitis officia, eaque
              reprehenderit error.
            </p>
          </div>
          <div class="b">
            <h3>Problem 2</h3>
            <hr>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
              iure minima eligendi alias pariatur fugit omnis ad earum explicabo
              est quae, nisi, reiciendis consectetur ullam debitis officia, eaque
              reprehenderit error.
            </p>
          </div>
          <div class="c">
            <h3>Problem 3</h3>
            <hr>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
              iure minima eligendi alias pariatur fugit omnis ad earum explicabo
              est quae, nisi, reiciendis consectetur ullam debitis officia, eaque
              reprehenderit error.
            </p>
        </div>
      </div>
      <div>
        <a href="/signup" class="btn">Personalise Your Experience</a>
      </div>
    </div>
    <div class="success">
      <div class="success-header">
        <h2>A Better Way To Get Your Next Hairstyle</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, tempora! Aliquid sed autem recusandae! Corrupti laboriosam eveniet dolore? Et ad recusandae rem iusto tempora ab ducimus delectus vero quo incidunt.</p>
      </div>
      <div class="success-img1">
        <!-- Success Image 1 -->
        <div><h3>Search</h3></div>
        <div><img src="../resources/images/WhatsApp Image 2020-01-11 at 23.58.19.jpeg" alt=""></div>
        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, est.</p></div>
      </div>
      <div class="success-img2">
        <!-- Success Image 2 -->
        <div><h3>Chat</h3></div>
        <div><img src="../resources/images/WhatsApp Image 2020-01-11 at 23.58.17 (2).jpeg" alt=""></div>
        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, est.</p></div>
      </div>
      <div class="success-img3">
        <!-- Success Image 3 -->
        <div><h3>Book</h3></div>
        <div><img src="../resources/images/WhatsApp Image 2020-01-11 at 23.58.18.jpeg" alt=""></div>
        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, est.</p></div>
      </div>
      <div class="background-color"></div>
      <a href="/signup" class="btn">Get a Better Experience</a>
    </div>
  </body>
</html>
