<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link href="./css/index.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header id="header">
            <nav>
                <ul>
                    <li class="logo"><img alt="Total Care" src="./images/Shot 2020-01-27 at 2.58.59 pm.png" style="width:82px"></li>
                    <li>About</li>
                    <span>
                        <button>Become a Total Care Pro</button>
                        <button><a href="/signup">Personalise Your Hairstyle</a></button>
                    </span>
                </ul>
            </nav>
            <main class="above-the-fold">
                <div id="atf-left">
                    <h1>Take the Guess Work Out of Looking Good</h1>
                    <p>Pick the right hairstyle. Find a great stylist. Look your best</p>
                    <div id="search">
                        <form action="" method="GET">
                            <input name="email" type="email" placeholder="Enter Your Address Here..." class="text" required="required">
                            <input type="submit" value="Find a Stylist or Barber">
                        </form>
                      <!--<button id="first-button" class="cta-main">Start Looking Great</button>-->  
                    </div>
                    
                </div>
                <img id="atf-image" alt="Man getting a haircut at home from a female stylist" src="./images/224618-P1BLK0-185.jpg" style="width:550px">
                   <!--<video width="425" class="header-image"  autoplay muted loop><source src="./videos/vertical-demo.mp4" type="video/mp4"> Your browser does not support the video tag</video class="header-image">--> 
                <div id="atf-right">
                    
                </div>
            </main>
            
        </header>
         <!-- Button to open the modal -->
        
        <div id="problem" class="below-the-fold">
            <div>
                <h2>Tired of Having to Guess the Right Style for You?</h2>
            </div>
            <div>
                <img id="problem-image" alt="picture of lady with bad hair" src="./images/gettyimages-520953789-1024x1024.jpg" style="width:700px">
                <p>

                </p>
            </div>
            
            <button class="cta-main">Start Looking Great</button>
        </div>
        <div id="success" class="below-the-fold">
            <h2>Now You Can Always Look Your Best</h2>
            <button class="cta-main">Start Looking Great</button>
        </div>
        <div id="guide" class="below-the-fold">
            <h2>Introducing the Worlds First Advanced Hairstyling AI</h2>
            <button class="cta-main">Start Looking Great</button>
        </div>
        <div id="how-it-works" class="below-the-fold">
            <div>
                <h2>How It Works</h2>
            </div>
           <div class="steps">
                <div class="">
                    <img>
                    <h3>Choose the right hairstyle</h3>
                </div>
                <div>
                    <img>
                    <h3>Choose the right hairstyle</h3>
                </div>
                <div>
                    <img>
                    <h3>Choose the right hairstyle</h3>
                </div>
           </div>
           <div>
                <button class="cta-main">Start Looking Great</button>
           </div>
        </div>
        <footer>
            <ul>
                <li> Junk Drawer</li>
            </ul>
        </footer>
    </body>

</html>
